div {
    background-color: #2a51a0;
    color: rgb(190, 190, 190);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
  }
  
  p {
    margin: 5px 0;
  }
  