body {

  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  text-align: center;
}

main {
  padding: 20px;
  margin-bottom: 50px; /* Espaço para evitar sobreposição do footer */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
